body{
}

.container{
	display: flex;
}

.nav {
	background: #f4f4f4;

 text-align: center;
}

.div_login {
	background: #f4f4f4;
	width: 50%;
}

.div_cadastro {
	width: 50%;
}

.div_registro {
	width: 75%;
	border: 1px solid red;

}

.div_perfil {
	width: 25%;
}

.div_feed {
	width: 50%;
}

.div_busca{
	width: 25%;
}
.detalhes {
	display: flex;
}
